body {
  margin: 0em;

  font-family: "Noto Sans", sans-serif;
}
nav {
  margin: 0em;
}
.cover {
  height: 400px;
  background-image: url(https://cdn.glitch.com/2bb13202-58f3-49f7-a752-4f37b446e158%2Frsz_3arvid-skywalker-zvvnjonv3ho-unsplash.jpg?v=1625219203636);
  color: white;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
}
.cover-small {
  height: 300px;
  background-blend-mode: normal;
}
.cover-pro{
  height: 300px;
  background-blend-mode: normal;
}
.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.card-title {
  min-height: 3rem;
}
.card-title1 {
  min-height: 3rem;
}
.card-text {
  min-height: 15rem;
}
.card-text1 {
  min-height: 15rem;
}
footer {
  background: #000;
  margin: 0em;
  color: #fff;
  text-align: center;
}
.product-stripe{
  overflow-x:scroll;
  padding-top:1rem;
  padding-botton:1rem;
}
.stripe-container{
  display:flex;
}
.stripe-container .card{
  width:300px;
  flex-shrink:0;
  margin-right:1rem;
}

label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}
.formulario {
    display:block;
    margin:0 auto;
    width:510px;
    color: #040202;
    font-family:Arial;
}
form {
    margin:0 auto;
    width:400px;
}
 
input, textarea {
    width:380px;
    height:27px;
    background:#F7F7F7;
    border:2px solid #F7F7F7;
    padding:10px;
    margin-top:5px;
    font-size:14px;
    color:#040202;
}
 
textarea {
    height:150px;
}
 