body {
  margin: 0em;

  font-family: "Noto Sans", sans-serif;
}
nav {
  margin: 0em;
}
.cover {
  height: 400px;
  background-image: url(https://cdn.glitch.com/2bb13202-58f3-49f7-a752-4f37b446e158%2Frsz_3arvid-skywalker-zvvnjonv3ho-unsplash.jpg?v=1625219203636);
  color: white;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
}
.cover-small {
  height: 300px;
  background-blend-mode: normal;
}
.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.card-title {
  min-height: 3rem;
}
.card-title1 {
  min-height: 3rem;
}
.card-text {
  min-height: 15rem;
}
.card-text1 {
  min-height: 15rem;
}
footer {
  background: #000;
  margin: 0em;
  color: #fff;
  text-align: center;
}
