body {
  margin: 0em;
}
.cover {
  height: 400px;
  background-image: url(https://cdn.glitch.com/2bb13202-58f3-49f7-a752-4f37b446e158%2Frsz_igor-oliyarnik-iilh12-bvlu-unsplash.jpg);
  color: white;
  background-size: cover;
  background-position: center;
}
